<div class="container">
    <div class="row justify-content-center">
       
    <div class="text-center mt-5">
        <form [formGroup]="filterForm" (ngSubmit)="Filter()">
            <!-- <mat-form-field >
                <mat-label>Name</mat-label>
                <input matInput name="Name" formControlName="Name">
            </mat-form-field> -->
             
            <mat-form-field style="margin-left: 10px;margin-right: 10px;">
                <mat-label>FullName</mat-label>
                <input matInput name="FullName" formControlName="FullName" >
            </mat-form-field>
             
            <mat-form-field style="margin-left: 10px;margin-right: 10px;">
                <mat-label>CityName</mat-label>
                <input matInput name="CityName" formControlName="CityName" >
            </mat-form-field>
              
            <mat-form-field style="margin-left: 10px;margin-right: 10px;">
                <mat-label>Email</mat-label>
                <input matInput name="Email" formControlName="Email" >
            </mat-form-field>
           
            <mat-form-field style="margin-left: 10px;margin-right: 10px;">
                <mat-label>PhoneNumber</mat-label>
                <input matInput name="PhoneNumber" formControlName="PhoneNumber" >
            </mat-form-field>
            
            <mat-form-field style="margin-left: 10px;margin-right: 10px;">
                <mat-label>CompanyName</mat-label>
                <input matInput name="CompanyName" formControlName="CompanyName" >
            </mat-form-field>
            <mat-form-field style="margin-left: 10px;margin-right: 10px;">
                <mat-label>CompanyField</mat-label>
                <input matInput name="CompanyField" formControlName="CompanyField" >
            </mat-form-field>
            
            <button  type="submit" mat-raised-button color="primary">Add</button>       
        </form>
    </div>
    </div>
    </div>
    
    